/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.fa-bars {
  display: none;
}
.nav-wrapper {
  width: inherit;
}
.background-panel {
  padding: 50px;
  margin-bottom: 75px;
}
.team-items .teaser-item {
  text-align: left;
}
.team-items .teaser-item h2 {
  font-size: 28px;
}
.team-items .teaser-item p {
  font-size: 18px;
}
.isotope-container .grid-sizer,
.isotope-container .teaser-item {
  width: 48.25%;
}
.isotope-container .gutter-sizer {
  width: 3.5%;
}
/*********************
HEADER STYLES
*********************/
.header #inner-header {
  padding-top: 50px;
}
.header .nav-wrapper {
  display: block;
}
.header #description {
  font-size: 34px;
}
/*********************
NAVIGATION STYLES
*********************/
.nav {
  display: block;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.nav li {
  display: block;
  float: left;
  /*
		plan your menus and drop-downs wisely.
		*/
  /* showing sub-menus */
}
.nav li a {
  /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
}
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li:hover ul {
  top: auto;
  display: block;
}
/* end .nav */
/*=============================
=            Forms            =
=============================*/
.field-wrap {
  width: 75%;
}
/*-----  End of Forms  ------*/
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
}
.sidebar .widgettitle {
  margin-top: 0;
  margin-bottom: 0.75em;
}
.sidebar .widget {
  margin-bottom: 25px;
  padding: 25px;
}
.sidebar .widget ul li {
  /* deep nesting */
}
.sidebar .widget ul li ul {
  padding-left: 1em;
}
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
}
/* end .footer-links */
