[jh-project-teaser] .teaser-wrap {
	background-size: 		contain;
	background-repeat: 		no-repeat;
	background-position:	50% 50%;
	cursor:					pointer;
	padding-top:			56.25%;
}

[jh-project-teaser] iframe {
	cursor:					pointer;
}