.teaser-item{
	word-break: break-word;
}

[jh-project-teaser] .description {
	opacity:				0.9;
	margin-top:				1em;
	font-size:				1em;
	line-height:			1.4em;
	max-height:				14em;
	overflow:				hidden;
}

[jh-project-teaser] .description + a {
	display:				block;
	text-align:				right;
	color:					#2aabe1;
}

[jh-project-teaser] .teaser-wrap {
	position:				relative;
	background-size: 		cover;
	background-repeat: 		no-repeat;
	background-position:	50% 50%;
	cursor:					pointer;
	padding-top:			56.25%;
	background-color:		#000;
}

[jh-project-teaser] iframe {
	position:				absolute;
	top:					0;
	left:					0;
	cursor:					pointer;
}