.teaser-item{
	word-break: break-word;
}

.teaser-item .image {
	width:					100%;
	max-width:				100%;
	padding-top:			100%;
	background-size:		cover;
	background-position:	50% 50%;
}

[jh-project-teaser] .description {
	opacity:				0.9;
	margin-top:				1em;
	font-size:				1em;
	line-height:			1.4em;
	max-height:				14em;
	overflow:				hidden;
}

[jh-project-teaser] .description + a {
	display:				block;
	text-align:				right;
	color:					#2aabe1;
}

[jh-project-teaser] .teaser-wrap {
	position:				relative;
	background-size: 		cover;
	background-repeat: 		no-repeat;
	background-position:	50% 50%;
	cursor:					pointer;
	padding-top:			56.25%;
	background-color:		#000;
}

[jh-project-teaser] .teaser-wrap:before {
	content:				'';
	position:				absolute;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
	background-image:		url('svg/youtube_red.svg');
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	background-size:		20% auto;
	opacity:				0.65;
}

[jh-project-teaser] .teaser-wrap:hover:before{
	opacity:				1;
}

[jh-project-teaser] iframe {
	position:				absolute;
	top:					0;
	left:					0;
	cursor:					pointer;
}


#searchform label {
	display:				none !important;
}

#searchform input {
	background:				#fff;
	border:					3px solid #000;
	display:				block;
	padding:				0.3em;
	box-sizing:				border-box;
	width:					100%;
}

footer nav {
	display:				block;
	width:					100%;
	background-color:		#fff;	
	padding:				1px 0;
	font-size:				18px;
	line-height:			1em;
	font-family:			"Ebisu",Helvetica,Arial,sans-serif;
	text-transform:			uppercase;
}


/* projects */

.filter-years {
	margin-top:				-40px;
	padding-top:			20px !important;
	padding-bottom:			20px !important;
	margin-bottom:			25px !important;
}

.filter-regions {
	margin-top:				0px;
}

.filter-year {
	display:				inline-block;
	margin-right:			0.5em;
	font-size:				1.1em;
	font-weight:			bold;
}


/* extra social icons */

#menu-meta a[href*="instagram.com"] {
	display:				inline-block;
	height:					25px;
	width:					0;
	padding-left:			25px;
	overflow:				hidden;
	background-image:		url('svg/instagram.svg');
	background-repeat:		no-repeat;
	background-size:		contain;
}


#menu-meta a[href*="snapchat.com"] {
	display:				inline-block;
	height:					25px;
	width:					0;
	padding-left:			25px;
	overflow:				hidden;
	background-image:		url('svg/snapchat.svg');
	background-repeat:		no-repeat;
	background-size:		contain;
}


#menu-meta a[href*="youtube.com"] {
	display:				inline-block;
	height:					25px;
	width:					0;
	padding-left:			35px;
	overflow:				hidden;
	background-image:		url('svg/youtube.svg');
	background-repeat:		no-repeat;
	background-size:		contain;
}


