/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* rot */
/* gelb */
/* blau */
/* grau */
.background-panel {
  background: #ffffff;
}
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
.svg-bestercode {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 0 0;
}
.svg-bestercode-dims {
  width: 50px;
  height: 50px;
}
.svg-bestercode_flag {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 4.955401387512389% 5.636978579481398%;
}
.svg-bestercode_flag-dims {
  width: 91px;
  height: 86px;
}
.svg-bestesdesign {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 13.428571428571429% 14.734561213434453%;
}
.svg-bestesdesign-dims {
  width: 50px;
  height: 50px;
}
.svg-bestesdesign_flag {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 18.929633300297326% 20.9695603156708%;
}
.svg-bestesdesign_flag-dims {
  width: 91px;
  height: 86px;
}
.svg-betterplace {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 28.750749354637435% 28.69198312236287%;
}
.svg-betterplace-dims {
  width: 119.156px;
  height: 25px;
}
.svg-facebook {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 36.947918141060164% 31.329113924050635%;
}
.svg-facebook-dims {
  width: 11.982px;
  height: 25px;
}
.svg-featured {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 38.79913854666299% 34.183025686102155%;
}
.svg-featured-dims {
  width: 32.966px;
  height: 31.012px;
}
.svg-gplus {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 41.554607123036035% 37.34177215189873%;
}
.svg-gplus-dims {
  width: 24.307px;
  height: 25px;
}
.svg-innovation {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 44.95238095238095% 41.061755146262186%;
}
.svg-innovation-dims {
  width: 50px;
  height: 50px;
}
.svg-innovation_flag {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 51.73439048562933% 48.365276211950395%;
}
.svg-innovation_flag-dims {
  width: 91px;
  height: 86px;
}
.svg-newsletter {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 57.39700374531835% 54.324894514767934%;
}
.svg-newsletter-dims {
  width: 32px;
  height: 25px;
}
.svg-publikumspreis {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 61.42857142857143% 58.50487540628386%;
}
.svg-publikumspreis-dims {
  width: 50px;
  height: 50px;
}
.svg-publikumspreis_flag {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 68.8800792864222% 66.5163472378805%;
}
.svg-publikumspreis_flag-dims {
  width: 91px;
  height: 86px;
}
.svg-sonderpreis {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 74.85714285714286% 73.2394366197183%;
}
.svg-sonderpreis-dims {
  width: 50px;
  height: 50px;
}
.svg-sonderpreis_flag {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 82.85431119920713% 81.84892897406989%;
}
.svg-sonderpreis_flag-dims {
  width: 91px;
  height: 86px;
}
.svg-twitter {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 86.73684210526316% 85.65400843881856%;
}
.svg-twitter-dims {
  width: 31.25px;
  height: 25px;
}
.svg-weltverbessern {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 91.33333333333333% 90.68255687973998%;
}
.svg-weltverbessern-dims {
  width: 50px;
  height: 50px;
}
.svg-weltverbessern_flag {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 100% 100%;
}
.svg-weltverbessern_flag-dims {
  width: 91px;
  height: 86px;
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
  background-color: #808080;
}
/********************
02. WORDPRESS BODY CLASSES
    style a page via class
    ********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 93%;
  margin: 0 auto;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #222222;
  text-decoration: none;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #222222;
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Ebisu", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
  margin-top: 0;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.button,
.button:visited {
  font-family: Ebisu;
  border: none;
  padding: 8px 20px 4px 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  white-space: nowrap;
}
.button-primary {
  color: white;
  background-color: #f86d14;
}
.button-primary:hover,
.button-primary:focus,
.button-primary:active {
  color: white !important;
}
.button-secondary {
  color: white;
  background: #808080;
}
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  color: white !important;
}
/*********************
06. HEADER STYLES
*********************/
.header {
  background-color: #ffffff;
  font-family: "Ebisu", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.header #inner-header {
  position: relative;
  padding-top: 15px;
  padding-bottom: 22px;
}
.header .nav-wrapper {
  display: none;
  width: 100%;
}
.header #logo {
  margin-bottom: 10px;
  margin-right: 20px;
  position: relative;
}
.header #logo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.header #description {
  font-size: 16px;
  line-height: 1.25em;
  margin: 0px;
  margin-top: -6px;
  margin-left: 25px;
}
.header .fa-bars {
  position: absolute;
  cursor: pointer;
  bottom: -6px;
  right: 0;
}
.header .cta-wrap {
  float: left;
}
.header .cta-wrap li {
  background-color: #f86d14;
  padding: 4px 10px 0 10px;
  margin-bottom: 10px;
  display: block;
  float: left;
  margin-right: 20px;
}
.header .cta-wrap li:last-child {
  margin-right: 20px;
}
.header .cta-wrap .cta-secondary {
  color: white;
  background: #808080;
}
.header .cta-wrap a,
.header .cta-wrap a:hover,
.header .cta-wrap a:visited {
  color: #ffffff;
}
.header .top-nav {
  float: left;
}
.header nav ul.nav li a {
  text-transform: uppercase;
}
ul.cta-links {
  margin: 0;
}
ul.cta-links li {
  display: block;
  float: none;
}
.social-nav-wrap {
  margin-top: 5px;
  float: left;
}
.social-nav-wrap ul {
  margin: 0;
}
.social-nav-wrap li {
  display: block;
  float: left;
}
.social-nav-wrap a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.social-nav-facebook a {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 36.947918141060164% 31.329113924050635%;
  width: 11.982px;
  height: 25px;
}
.social-nav-twitter a {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 86.73684210526316% 85.65400843881856%;
  width: 31.25px;
  height: 25px;
}
.social-nav-gplus a {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 41.554607123036035% 37.34177215189873%;
  width: 24.307px;
  height: 25px;
}
.social-nav-betterplace a {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 28.750749354637435% 28.69198312236287%;
  width: 119.156px;
  height: 25px;
}
.social-nav-newsletter a {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 57.39700374531835% 54.324894514767934%;
  width: 32px;
  height: 25px;
}
/*********************
07. NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
.nav li {
  margin-right: 20px;
  /*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
}
.nav li a {
  display: block;
  text-decoration: none;
  color: #2aabe1;
  /*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
}
.nav li a:hover,
.nav li a:focus {
  color: #222222;
}
.nav li:last-child {
  margin-right: 0;
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
}
.nav li.current-menu-item a,
.nav li.current_page_item a,
.nav li.current_page_ancestor a {
  color: #222222;
}
/* end .nav */
.page-navigation {
  text-align: center;
  background: #ffffff;
  margin-bottom: 25px;
  padding: 25px;
}
.page-navigation ol {
  margin: 0;
}
.page-navigation .bpn-current {
  color: #f86d14;
}
.page-navigation li {
  display: inline-block;
  margin-right: 25px;
}
.page-navigation li:last-child {
  margin-right: 0;
}
/*********************
08. POSTS & CONTENT STYLES
*********************/
.hero-wrap {
  color: #60dba4;
  text-align: center;
  max-width: 940px;
  margin: 128px auto 70px auto;
}
.hero-wrap:after {
  content: "";
  display: block;
  border-top: 50px solid white;
  border-right: 50px solid transparent;
  width: 0;
}
.hero {
  display: block;
  background-color: white;
  margin: 0;
  padding: 20px 0 10px 0;
}
.background-panel {
  padding: 25px;
  margin-bottom: 25px;
}
.background-panel__slim {
  padding: 20px 25px 14px 25px;
  margin-bottom: 25px;
}
#content {
  background: url(../images/background.png);
  background-position: 50% 0%;
}
#content #inner-content {
  padding-top: 180px;
}
.hentry {
  background-color: #ffffff;
}
.hentry:last-child {
  margin-bottom: 50px;
}
.hentry footer a,
.hentry footer a:visited,
.hentry footer a:active {
  color: #2aabe1;
}
/* end .hentry */
.attachment {
  padding: 25px;
  margin-bottom: 50px;
}
.attachment img {
  margin-bottom: 0px !important;
}
.layout-custom .attachment {
  padding: 50px;
}
.teaser-wrap {
  position: relative;
}
.teaser-wrap .teaser-body {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  background: #2aabe1;
  color: white;
  height: 100%;
  width: 100%;
}
.teaser-wrap .teaser-body p {
  margin: 0;
}
.teaser-wrap:hover .teaser-body {
  display: block;
}
.project-links h3 {
  margin: 0;
}
.teaser-item {
  padding-top: 40px;
  padding-bottom: 40px;
}
.teaser-item iframe {
  display: block;
}
.teaser-item h2 {
  margin-bottom: 0.5em;
}
.teaser-item h2:last-child {
  margin-bottom: 0;
}
.teaser-item h3 {
  margin: 0;
}
.teaser-item img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  display: block;
}
.teaser-item.badge:after {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  right: -21px;
}
.teaser-item.badge-world:after {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 100% 100%;
  width: 91px;
  height: 86px;
}
.teaser-item.badge-innovation:after {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 51.73439048562933% 48.365276211950395%;
  width: 91px;
  height: 86px;
}
.teaser-item.badge-code:after {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 4.955401387512389% 5.636978579481398%;
  width: 91px;
  height: 86px;
}
.teaser-item.badge-design:after {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 18.929633300297326% 20.9695603156708%;
  width: 91px;
  height: 86px;
}
.teaser-item.badge-special:after {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 82.85431119920713% 81.84892897406989%;
  width: 91px;
  height: 86px;
}
.teaser-item.badge-audience:after {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 68.8800792864222% 66.5163472378805%;
  width: 91px;
  height: 86px;
}
.teaser-item .badge-legend {
  color: #2aabe1;
  position: relative;
  margin-left: 60px;
  min-height: 50px;
  padding-top: 15px;
}
.teaser-item .badge-legend:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -60px;
  top: 0;
}
.teaser-item .badge-legend-world:before {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 91.33333333333333% 90.68255687973998%;
  width: 50px;
  height: 50px;
}
.teaser-item .badge-legend-innovation:before {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 44.95238095238095% 41.061755146262186%;
  width: 50px;
  height: 50px;
}
.teaser-item .badge-legend-code:before {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 0 0;
  width: 50px;
  height: 50px;
}
.teaser-item .badge-legend-design:before {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 13.428571428571429% 14.734561213434453%;
  width: 50px;
  height: 50px;
}
.teaser-item .badge-legend-special:before {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 74.85714285714286% 73.2394366197183%;
  width: 50px;
  height: 50px;
}
.teaser-item .badge-legend-audience:before {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 61.42857142857143% 58.50487540628386%;
  width: 50px;
  height: 50px;
}
.teaser-item .teaser-meta {
  margin-top: 15px;
  margin-bottom: -10px;
}
.teaser-item .teaser-meta a,
.teaser-item .teaser-meta a:hover,
.teaser-item .teaser-meta a:focus,
.teaser-item .teaser-meta a:visited {
  color: #2aabe1;
}
.teaser-item .teaser-meta h3,
.teaser-item .teaser-meta a {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.teaser-item-events .teaser-image {
  margin-bottom: 25px;
}
.teaser-item-events .button,
.teaser-item-events a.button {
  display: inline-block;
  margin-bottom: 5px;
  color: white ;
}
.teaser-item-events .button:last-child,
.teaser-item-events a.button:last-child {
  margin-bottom: 0px;
}
.team-items .team-member {
  padding-top: 40px;
}
.team-items .teaser-item {
  text-align: left;
}
.team-items .teaser-item h2 {
  font-size: 26px;
}
.team-items .teaser-item p {
  font-size: 13px;
}
.team-items .teaser-item .badge:after {
  display: inline-block;
  content: "";
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  margin-left: 10px;
}
.team-items .teaser-item .badge-black:after {
  background: url(svg/sprite.css-e252d530.svg) no-repeat;
  background-position: 38.79913854666299% 34.183025686102155%;
  width: 32.966px;
  height: 31.012px;
}
.isotope-container .grid-sizer,
.isotope-container .teaser-item {
  width: 100%;
}
.isotope-container .gutter-sizer {
  width: 0;
}
.mixitup-container .mix {
  display: none;
}
.filter {
  cursor: pointer;
  text-transform: uppercase;
}
.filter.active {
  color: #2aabe1;
}
.custom-layout-wrapper > div {
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 50px;
}
.custom-layout-wrapper > div > h2 {
  margin-bottom: 1em;
}
.timetable h2 {
  margin: 0em;
  line-height: 1em;
}
.timetable p {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
/*********************
	TEASER ICONS
	*********************/
.withicon {
  position: relative;
}
.withicon:after {
  display: block;
  width: 55px;
  height: 55px;
  content: "";
  position: absolute;
  top: 35px;
  right: 35px;
  visibility: hidden;
  background: url(../images/teaser_icons.png) no-repeat;
}
/* Worum geht's?*/
#post-4:after {
  background-position: 0 0px;
  visibility: visible;
}
/* Die Herausforderung*/
#post-9:after {
  background-position: 0 -55px;
  visibility: visible;
}
/* Fragen und Antworten*/
#post-14:after {
  background-position: 0 -110px;
  visibility: visible;
}
/* Programm */
#post-12:after {
  background-position: 0 -165px;
  visibility: visible;
}
/* Material */
#post-16:after {
  background-position: 0 -220px;
  visibility: visible;
}
/* Mentor/innen */
#post-605:after {
  background-position: 0 -275px;
  visibility: visible;
}
/* Sponsoren */
#post-598:after {
  background-position: 0 -385px;
  visibility: visible;
}
/* Presse */
#post-599:after {
  background-position: 0 -385px;
  visibility: visible;
}
/* Für die Eltern */
#post-600:after {
  background-position: 0 -330px;
  visibility: visible;
}
.single-title,
.page-title {
  text-transform: uppercase;
  margin: 0;
}
.archive-title {
  background: #ffffff;
  padding: 25px;
  font-family: "Ebisu", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
  font-size: 1.1em;
  font-weight: 700;
  padding: 25px 25px 20px 25px;
  margin-bottom: 25px;
}
.archive-title a {
  text-decoration: none;
}
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline a,
.byline a:visited,
.byline a:active {
  color: #2aabe1;
}
.tags a,
.tags a:visited,
.tags a:active {
  color: #2aabe1;
}
/* entry content */
.entry-content {
  /*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
}
.entry-content p {
  font-size: 1.125em;
  line-height: 1.5em;
}
.entry-content p a,
.entry-content p a:visited,
.entry-content p a:active {
  color: #2aabe1;
}
.entry-content ul,
.entry-content ol {
  padding-left: 38px;
}
.entry-content ul {
  list-style-type: disc;
}
.entry-content ol {
  list-style-type: decimal;
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  margin: 25px 0;
  max-width: 100%;
  height: auto;
}
.entry-content .fluid-width-video-wrapper {
  margin: 25px 0;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
.event-section-sponsors img {
  display: inline-block;
  max-width: 15%;
  vertical-align: middle;
  margin-right: 25px;
}
.content-more {
  display: none;
}
.content-more p:first-child {
  margin-top: 0;
}
.more-toggle,
.more-toggle:hover {
  color: #2aabe1;
  font-size: 1.125em;
}
.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4 {
  margin: 0;
}
.accordion > br {
  display: none;
}
.accordion .accordion-content {
  margin-bottom: 10px;
}
.faq-nav.background-panel {
  padding-bottom: 40px;
}
.faq-nav h1,
.faq-nav h2,
.faq-nav h3,
.faq-nav h4 {
  margin: 0;
}
.faq-groups .mix {
  width: 100%;
}
.partner-group img {
  vertical-align: middle;
  margin: 20px 40px 20px 40px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.partner-group img:hover {
  -webkit-filter: none;
  filter: none;
}
.page-presse .page-title__main,
.page-partner .page-title__main,
.page-presse .entry-content__main,
.page-partner .entry-content__main {
  text-align: center;
}
/*=============================
=            Forms            =
=============================*/
#content .list-radio-wrap.label-left ul li,
#content .list-radio-wrap.label-right ul li,
#content .list-checkbox-wrap.label-left ul li,
#content .list-checkbox-wrap.label-right ul li {
  margin-bottom: 10px;
}
#content .field-wrap .ninja-forms-field {
  margin-left: 0;
}
#content .ninja-forms-form-wrap .list-checkbox-wrap ul label,
#content .ninja-forms-form-wrap .list-radio-wrap ul label {
  text-indent: -20px;
  padding-left: 20px;
}
/*-----  End of Forms  ------*/
/*********************
12. SIDEBARS & ASIDES
*********************/
.widgettitle {
  text-transform: uppercase;
}
.widget {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 25px;
}
.widget img {
  max-width: 100%;
  height: auto;
}
.widget ul li {
  /* deep nesting */
}
/*********************
13. FOOTER STYLES
*********************/
.footer {
  clear: both;
  background-color: #161616;
}
.footer #inner-footer {
  font-size: 1.375em;
  color: #ffffff;
  padding-bottom: 3em;
  padding-top: 1em;
}
.footer #inner-footer img {
  vertical-align: middle;
}
.footer #inner-footer a {
  color: #ffffff;
}
.ph {
  margin-bottom: 0;
}
.partner {
  float: left;
  padding-right: 1em;
  margin-top: 1em;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
  .header #logo {
    float: left;
  }
  .header .fa-bars {
    bottom: 0;
  }
  .header #description {
    font-size: 30px;
    line-height: 1.25em;
    margin: 0px;
    margin-top: -20px;
    margin-left: 32px;
  }
  /*********************
NAVIGATION STYLES
*********************/
  .nav {
    /* end  ul */
  }
  .nav ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav ul li {
    float: left;
    position: relative;
    /*
				plan your menus and drop-downs wisely.
				*/
  }
  .nav ul li a {
    /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
  }
  /*********************
POSTS & CONTENT STYLES
*********************/
  .hero {
    font-size: 64px;
  }
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  /*********************
FOOTER STYLES
*********************/
  /*
check your menus here. do they look good?
do they need tweaking?
*/
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last {
    float: right;
  }
  .oddendcol {
    float: none;
    margin: 0 auto;
  }
  .row {
    zoom: 1;
  }
  .row:before,
  .row:after {
    content: "";
    display: table;
  }
  .row:after {
    clear: both;
  }
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  .fa-bars {
    display: none;
  }
  .nav-wrapper {
    width: inherit;
  }
  .background-panel {
    padding: 50px;
    margin-bottom: 75px;
  }
  .team-items .teaser-item {
    text-align: left;
  }
  .team-items .teaser-item h2 {
    font-size: 28px;
  }
  .team-items .teaser-item p {
    font-size: 18px;
  }
  .isotope-container .grid-sizer,
  .isotope-container .teaser-item {
    width: 48.25%;
  }
  .isotope-container .gutter-sizer {
    width: 3.5%;
  }
  /*********************
HEADER STYLES
*********************/
  .header #inner-header {
    padding-top: 50px;
  }
  .header .nav-wrapper {
    display: block;
  }
  .header #description {
    font-size: 34px;
  }
  /*********************
NAVIGATION STYLES
*********************/
  .nav {
    display: block;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav li {
    display: block;
    float: left;
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */
  }
  .nav li a {
    /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover ul {
    top: auto;
    display: block;
  }
  /* end .nav */
  /*=============================
=            Forms            =
=============================*/
  .field-wrap {
    width: 75%;
  }
  /*-----  End of Forms  ------*/
  /*********************
SIDEBARS & ASIDES
*********************/
  .sidebar {
    /* links widget */
    /* meta widget */
    /* pages widget */
    /* recent-posts widget */
    /* archives widget */
    /* tag-cloud widget */
    /* calendar widget */
    /* category widget */
    /* recent-comments widget */
    /* search widget */
    /* text widget */
  }
  .sidebar .widgettitle {
    margin-top: 0;
    margin-bottom: 0.75em;
  }
  .sidebar .widget {
    margin-bottom: 25px;
    padding: 25px;
  }
  .sidebar .widget ul li {
    /* deep nesting */
  }
  .sidebar .widget ul li ul {
    padding-left: 1em;
  }
  /*********************
FOOTER STYLES
*********************/
  /*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
  .footer-links ul li {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
  }
  /* end .footer-links */
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  .wrap {
    max-width: 1440px;
  }
  .isotope-container .grid-sizer,
  .isotope-container .teaser-item {
    width: 31%;
  }
  .isotope-container .gutter-sizer {
    width: 3.5%;
  }
  .teaser-item-events .teaser-body-left {
    float: left;
  }
  .teaser-item-events .teaser-body-right {
    float: right;
  }
  .teaser-item-events .button,
  .teaser-item-events a.button {
    display: block;
    margin-bottom: 5px;
    color: white ;
  }
  .teaser-item-events .button:last-child,
  .teaser-item-events a.button:last-child {
    margin-bottom: 0px;
  }
  /*********************
HEADER STYLES
*********************/
  .header #logo {
    margin-bottom: 0;
  }
  .header .cta-wrap li {
    margin-bottom: 0;
  }
  #inner-content {
    padding-bottom: 200px;
  }
  /*********************
NAVIGATION STYLES
*********************/
  .nav {
    margin-left: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav li {
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */
  }
  .nav li a {
    /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover ul {
    top: auto;
    display: block;
  }
  /* end .nav */
  /*********************
SIDEBARS & ASIDES
*********************/
  .sidebar {
    /* links widget */
    /* meta widget */
    /* pages widget */
    /* recent-posts widget */
    /* archives widget */
    /* tag-cloud widget */
    /* calendar widget */
    /* category widget */
    /* recent-comments widget */
    /* search widget */
    /* text widget */
  }
  .sidebar .widgettitle {
    margin-top: 0;
    margin-bottom: 0.75em;
  }
  .sidebar .widget {
    margin-bottom: 25px;
    padding: 25px;
  }
  .sidebar .widget ul li {
    /* deep nesting */
  }
  .sidebar .widget ul li ul {
    padding-left: 1em;
  }
  .sidebar .tweets-headline {
    float: left;
  }
  .sidebar .follow-wrap {
    float: right;
    margin-top: 2px;
  }
  /*********************
FOOTER STYLES
*********************/
  /*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
  .footer-links ul li {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
  }
  /* end .footer-links */
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
  .header .top-nav {
    float: right;
    margin-top: 61px;
  }
  #metawrapper {
    float: right;
  }
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
