.svg-common() {
	background: url(svg/sprite.css-dc35ceec.svg) no-repeat;
}

.svg-facebook {
	.svg-common();
	background-position: 0 0;
}

.svg-facebook-dims {
	width: 11.982px;
	height: 25px;
}

.svg-gplus {
	.svg-common();
	background-position: 26.84984225717674% 50%;
}

.svg-gplus-dims {
	width: 24.307px;
	height: 25px;
}

.svg-twitter {
	.svg-common();
	background-position: 98.01324503311258% 100%;
}

.svg-twitter-dims {
	width: 31.25px;
	height: 25px;
}

