.svg-common() {
	background: url(svg/sprite.css-e252d530.svg) no-repeat;
}

.svg-bestercode {
	.svg-common();
	background-position: 0 0;
}

.svg-bestercode-dims {
	width: 50px;
	height: 50px;
}

.svg-bestercode_flag {
	.svg-common();
	background-position: 4.955401387512389% 5.636978579481398%;
}

.svg-bestercode_flag-dims {
	width: 91px;
	height: 86px;
}

.svg-bestesdesign {
	.svg-common();
	background-position: 13.428571428571429% 14.734561213434453%;
}

.svg-bestesdesign-dims {
	width: 50px;
	height: 50px;
}

.svg-bestesdesign_flag {
	.svg-common();
	background-position: 18.929633300297326% 20.9695603156708%;
}

.svg-bestesdesign_flag-dims {
	width: 91px;
	height: 86px;
}

.svg-betterplace {
	.svg-common();
	background-position: 28.750749354637435% 28.69198312236287%;
}

.svg-betterplace-dims {
	width: 119.156px;
	height: 25px;
}

.svg-facebook {
	.svg-common();
	background-position: 36.947918141060164% 31.329113924050635%;
}

.svg-facebook-dims {
	width: 11.982px;
	height: 25px;
}

.svg-featured {
	.svg-common();
	background-position: 38.79913854666299% 34.183025686102155%;
}

.svg-featured-dims {
	width: 32.966px;
	height: 31.012px;
}

.svg-gplus {
	.svg-common();
	background-position: 41.554607123036035% 37.34177215189873%;
}

.svg-gplus-dims {
	width: 24.307px;
	height: 25px;
}

.svg-innovation {
	.svg-common();
	background-position: 44.95238095238095% 41.061755146262186%;
}

.svg-innovation-dims {
	width: 50px;
	height: 50px;
}

.svg-innovation_flag {
	.svg-common();
	background-position: 51.73439048562933% 48.365276211950395%;
}

.svg-innovation_flag-dims {
	width: 91px;
	height: 86px;
}

.svg-newsletter {
	.svg-common();
	background-position: 57.39700374531835% 54.324894514767934%;
}

.svg-newsletter-dims {
	width: 32px;
	height: 25px;
}

.svg-publikumspreis {
	.svg-common();
	background-position: 61.42857142857143% 58.50487540628386%;
}

.svg-publikumspreis-dims {
	width: 50px;
	height: 50px;
}

.svg-publikumspreis_flag {
	.svg-common();
	background-position: 68.8800792864222% 66.5163472378805%;
}

.svg-publikumspreis_flag-dims {
	width: 91px;
	height: 86px;
}

.svg-sonderpreis {
	.svg-common();
	background-position: 74.85714285714286% 73.2394366197183%;
}

.svg-sonderpreis-dims {
	width: 50px;
	height: 50px;
}

.svg-sonderpreis_flag {
	.svg-common();
	background-position: 82.85431119920713% 81.84892897406989%;
}

.svg-sonderpreis_flag-dims {
	width: 91px;
	height: 86px;
}

.svg-twitter {
	.svg-common();
	background-position: 86.73684210526316% 85.65400843881856%;
}

.svg-twitter-dims {
	width: 31.25px;
	height: 25px;
}

.svg-weltverbessern {
	.svg-common();
	background-position: 91.33333333333333% 90.68255687973998%;
}

.svg-weltverbessern-dims {
	width: 50px;
	height: 50px;
}

.svg-weltverbessern_flag {
	.svg-common();
	background-position: 100% 100%;
}

.svg-weltverbessern_flag-dims {
	width: 91px;
	height: 86px;
}

